name: Test GCP Auth2

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Check secret
      run: |
        if [ -z "${{ secrets.GCP_SA_KEY }}" ]; then
          exit 1
        fi

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Verify
      run: gcloud auth list
